.login{
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 100px;
    padding: 30px 0 30px 200px;
    box-sizing: border-box;
   border-bottom: 1px solid #506694;
    img{
        float: left;
    }
    ul {
        margin-left: 500px;
        margin-top: 10px;
        li{
            float: left;
            margin-left: 40px;
            color: #fff;
        }
    }
}
.nav{
    overflow: hidden;
    div{
        width: 300%;
        // overflow: hidden;
        ul{
            li{
                width: 33.3%;
                float: left;
                img{
                    width: 100%;
                    height: 100%;
                }
            }
        }
        
    }
}
.fixed{
    position: fixed;
    right: 50px;
    bottom: 300px;
    width: 50px;
    height: 50px;
    background-color: #fff;
    border-radius: 8px;
    cursor: pointer;
    display: none;
   img{
       width: 100%;
       height: 100%;
       z-index: 99;
   }
}
.nengli,.chanpin,.qiye,.xinwen,.kehu{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
    p{
        font-size: 12px;
        color: rgba(153, 153, 153, 1)
    }
   
}
.nengli-title{
    overflow: hidden;
    ul{
        margin-left: 200px;
        li{
           text-align: center;
            float: left;
            width: 300px;
            height: 200px;
            text-align: center; 
            padding-top: 70px;
            h4{
                font-size: 24px;
                font-weight: normal;
                margin-bottom: 20px;
            }
            p{
                line-height: 27px;
            }
           
        }
    }
}
.chanpin-title{
    text-align: center;
    li{
        float: left;
        width: 20%;
        height: 240px;
        padding-top: 50px;
        padding-bottom: 20px;
        margin-bottom: 50px;

        // line-height: 300px;
        background-color: #2a3152;
        p{
            font-size: 26px;
            color: #fff;
        }
    }
}
.qiye-title{
    text-align: center;
    p{
        font-size: 14px;
         color: rgba(102, 102, 102, 1);
    }
    a{
        display: block;
        width: 150px;
        height: 55px;
        border: 1px solid #bad2e9;
        color: #0058ad;
        text-align: center;
        line-height: 55px;
        position: absolute;
        left: 50%;
        transform:translate(-50%,0) ;
        margin-top: 50px;
    }
    ul{
        overflow: hidden;
        margin-top: 150px;
        margin-left: 200px;
        li{
            float: left;
            margin-left: 50px;
        }
    }
   
}
.xinwen{
    background-color: #f8f8f9;
    // height: 500px;
    padding-top: 30px;
    overflow: hidden;
    ul{
        overflow: hidden;
        margin-left: 280px;
        margin-top: 30px;
        li{
            width: 300px;
            height: 350px;
            line-height: 40px;
            background-color: #fff;
            float: left;
            margin-left: 40px;
            img{
                width: 100%;
                height: 50%;
            }
            p{
                font-size: 15px;
                color: #222;
            }
            .footer{
                font-size:20px;
            }
        }
        .first{
            margin-left: 0;
        }
    }
    .btn{
        overflow: hidden;
        margin-top: 50px;
        margin-left: 650px;
       img{
           float: left;
           margin: 0 10px;
           width: 50px;
           height: 50px;
       }
       margin-bottom: 50px;
    }
}
.kehu-img{
    // padding: 0  100px;
    overflow: hidden;
    ul{
        margin: 0 200px;
        li{
            width: 19%;
            float: left;
            img{
                width: 100%;
                border:1px solid #ccc;
                vertical-align: middle;
                &:hover{
                 transform: scale(1.1,1.1)
                }
            }
        }
    }
}
.bottom{
    width: 100%;
    margin-top: 50px;
    background-color: #30343e;
    padding-top: 60px;
    padding-left: 100px;
    box-sizing: border-box;
    overflow: hidden;
    border-bottom: 1px solid #414141;

    dl{
        float: left;
        margin-left: 100px;
        dd{
            color: #fff;
            margin-bottom: 30px;
        }
        dt{
            color: #777777;
            margin-bottom: 20px;
            font-size: 14px;
        }
    }
}
.bottom-title{
    height: 100px;
    line-height: 100px;
    background-color: #30343e;
    text-align: center;
    color: #a5b1b1;
    font-size: 14px;
}

